<p>目前在線人數:<%= @act_users %></p>
<canvas id="myChart" width="400" height="400"></canvas>
<%= javascript_tag do %>
  var ctx = document.getElementById("myChart");
  var ctx = document.getElementById("myChart").getContext("2d");
  var ctx = $("#myChart");
  var myChart = new Chart(ctx);
<% end %>
<table>
  <tr>
    <th>METRIC</th><th>本日</th><th>上日</th><th>差異</th>
  </tr>
  <tr>
    <td>sessions</td><td>本日</td><td>上日</td><td>差異</td>
    <td>users</td><td>本日</td><td>上日</td><td>差異</td>
    <td>newUsers</td><td>本日</td><td>上日</td><td>差異</td>
    <td>percentNewSessions</td><td>本日</td><td>上日</td><td>差異</td>
    <td>sessionDuration </td><td>本日</td><td>上日</td><td>差異</td>
    <td>avgSessionDuration</td><td>本日</td><td>上日</td><td>差異</td>
  </tr>
</table>
