<p>目前在線人數:<%= @act_users %></p>
<canvas id="myChart" width="400" height="400"></canvas>
<%= javascript_tag do %>
  var ctx = document.getElementById("myChart");
  var ctx = document.getElementById("myChart").getContext("2d");
  var ctx = $("#myChart");
  var myChart = new Chart(ctx);
<% end %>
<table>
  <tr>
    <th>METRIC</th><th>本日</th><th>上日</th><th>差異</th>
  </tr>
  <tr>
    <td>訪客數</td>
  </tr>
</table>
