<!-- BEGIN PORTLET-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bar-chart font-green"></i>
            <span class="caption-subject font-green bold uppercase">新舊訪客分析</span>
            <span class="caption-helper">過去六個月狀態...</span>
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
                <label class="btn red btn-outline btn-circle btn-sm active">
                    <input type="radio" name="visitors_options" class="toggle" id="visitors_new">新訪客</label>
                <label class="btn red btn-outline btn-circle btn-sm">
                    <input type="radio" name="visitors_options" class="toggle" id="visitors_old">回訪</label>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function() {
      $('input[type=radio][name=visitors_options]').change(function() {
          if (this.id == 'visitors_new') {
            $('#site_statistics_old_content').hide();
            $('#site_statistics_content').show();
          } else if (this.id == 'visitors_old') {
            $('#site_statistics_content').hide();
            $('#site_statistics_old_content').show();
          }
      });
    });
    </script>
    <div class="portlet-body">
        <div id="site_statistics_loading">
            <img src="../assets/global/img/loading.gif" alt="loading" /> </div>
        <div id="site_statistics_content" class="display-none">
            <div id="site_statistics" class="chart"> </div>
        </div>
        <div id="site_statistics_old_content" class="display-none">
            <div id="site_old_statistics" class="chart"> </div>
        </div>
    </div>
</div>
<!-- END PORTLET-->
<%= javascript_tag do %>
  var visitors = <%= @grpah2DataNewVisitors.to_s.html_safe %>;
  var visitorsOld = <%= @grpah2DataOldVisitors.to_s.html_safe %>;

<% end %>
