<h1>New Url Builder</h1>

<%= render 'form' %>
<!--
<%= link_to 'Back', url_builders_path %>
-->
<div style="margin-top:10px">
<%= button_tag(type: "button", class: "btn blue") do %>
    返回
<% end %>
</div>