<% if false %>
<select id="e1">
    <option value="AL">Alabama</option>
    <option value="WY">Wyoming</option>
</select>
<script>
    // $(document).ready(function() {  });
    $("#e1").select2({
        theme: "bootstrap",
        language: "zh-TW"
    });
    // $( "#e1" ).select2();
</script>
<% end %>
