<p id="notice"><%= notice %></p>

<p>
  <strong>Medium:</strong>
  <%= @campaign_medium.medium %>
</p>

<%= link_to 'Edit', edit_campaign_medium_path(@campaign_medium) %> |
<%= link_to 'Back', campaign_media_path %>
