<p>沒有Google Analytics資料，請先<%= link_to "申請Google Analytics", "https://www.google.com/intl/zh-TW/analytics/" %>帳號</p>
<%= link_to "前往Google Analytics", "https://www.google.com/intl/zh-TW/analytics/" %>
