<p id="notice"><%= notice %></p>

<p>以下垃圾流量將自動設置為篩選器</p>
<textarea rows="10" cols="40" disabled><%= @trashes.join('&#13;&#10;').html_safe %></textarea><br/><br/>
<%= button_to "確定", setup_filters_path, :class=>"btn blue",:method => :post %>
